# Entorno virtual
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Archivos de base de datos SQLite
db.sqlite3

# Archivos de migración (opcional, si quieres subirlos puedes omitir)
*/migrations/*.pyc
*/migrations/__pycache__/

# VS Code
.vscode/
